<style>
    .centermain {
        text-align:center;
    }
    .comment {
        color:white;
    }
</style>
<br>
<br>
<br><br>
<h1 style="color:white" class="centermain">X</h1>
<br><br>
<form action="/posts/show3/<%=@post.id%>" method="get">
<div class="centermain">
<button class="btn btn-success" type="submit" name="answer" value="correct" style="cursor:pointer;" class="centermain"> 돌아가기 </button>
</div>
</form>