<style>
    .centermain {
        text-align:center;
    }
    .comment {
        color:white;
    }
</style>

<br><br><br>
<h1 style="color:white" class="centermain">틀렸지롱!</h1><br>

<form action="/posts/show2/<%=@post.id%>" method="get">
<div class="centermain">
<button class="btn btn-success" type="submit" name="answer" value="correct" style="cursor:pointer;" class="centermain"> 돌아가기 </button>
</div>
</form>