<style>
    .centermain {
        text-align:center;
    }
    .comment {
        color:white;
    }
</style>

<br><br><br>


<div class="font">
<h1 style="color:white; font-size:600%;" class="centermain">아쉽게도, 아니네요..</h1>
</div>

<form action="/posts/show1/<%=@post.id%>" method="get">
<div class="centermain">
<button class="btn btn-success" type="submit" name="answer" value="correct" style="cursor:pointer;" class="centermain"> 돌아가기 </button>
</div>
</form>
